<section id="container" >
  <section id="main-content">
    <section class="wrapper">
      <div>
        <h1>
          Reportes
        </h1>
        <div class="buttons-charts">
          <button
            ng-click="vm.category.luz = true; vm.buttons.chartUpdate(vm.category.luz, 'luz')"
            class="btn  button-style"
            ng-class="{'btn-primary': vm.category.luz, 'btn-default': !vm.category.luz}">
            Luz
          </button>
          <button
            ng-click="vm.category.temp = true; vm.buttons.chartUpdate(vm.category.temp, 'temp')"
            class="btn button-style"
            ng-class="{'btn-success': vm.category.temp, 'btn-default': !vm.category.temp}">
            Temperatura
          </button>
          <button
            ng-click="vm.category.gas = true; vm.buttons.chartUpdate( vm.category.gas, 'gas')"
            class="btn button-style"
            ng-class="{'btn-danger': vm.category.gas, 'btn-default': !vm.category.gas}">
            Gas
          </button>
        </div>
        <br>
        <div >
          <select
            ng-if="!map1.countryFlag"
            name="selector"
            class="form-control"
            ng-model="vm.regionSelected">
            <option value="2017">2017</option>
          </select>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
          <div class="col-md-4">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Mes</th>
                <th>Actividad promedio (LUX)</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Enero</td>
                <td>20.5</td>
              </tr>
              <tr>
                <td>Febrero</td>
                <td>18.3</td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td>16.5</td>
              </tr>
              <tr>
                <td>Abril</td>
                <td>30.4</td>
              </tr>
              <tr>
                <td>Mayo</td>
                <td>19.7</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
<style>
  .button-style {
    width: 110px;
    margin: 0px 30px;
  }
</style>
