<section id="container" >
  <section id="main-content">
    <section class="wrapper">
      <div>
        <h1>
          Graficas de Sensores
        </h1>
        <div class="buttons-charts">
          <button
            ng-click="vm.category.luz = true; vm.buttons.chartUpdate(vm.category.luz, 'luz')"
            class="btn  button-style"
            ng-class="{'btn-primary': vm.category.luz, 'btn-default': !vm.category.luz}">
            Luz
          </button>
          <button
            ng-click="vm.category.temp = true; vm.buttons.chartUpdate(vm.category.temp, 'temp')"
            class="btn button-style"
            ng-class="{'btn-success': vm.category.temp, 'btn-default': !vm.category.temp}">
            Temperatura
          </button>
          <button
            ng-click="vm.category.gas = true; vm.buttons.chartUpdate( vm.category.gas, 'gas')"
            class="btn button-style"
            ng-class="{'btn-danger': vm.category.gas, 'btn-default': !vm.category.gas}">
            Gas
          </button>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-8">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
          <div class="col-md-4">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>{{vm.tableHeaders.name}}</th>
                <th>{{vm.tableHeaders.type}}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="data in vm.dataTableList">
                <td>{{data.name}}</td>
                <td>{{data.value}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
<style>
  .button-style {
    width: 110px;
    margin: 0px 30px;
  }
</style>
