<section id="container" >
  <section id="main-content">
      <section class="wrapper landing">
        <div class="cover-wrapper">
          <div class="dashhboard-title">
            <h1>Smart Marka</h1>
          </div>
          <div class="dashhboard-second-title">
            <h3>Sistema Inteligente, Planificacion Eficiente.</h3>
          </div>
        </div>
      </section>

  </section>
</section>
<style>
  .landing{
     bottom: 0;
     position: fixed;
     top: 0;
     margin-top: 60px;
     background: url('assets/assets-dashboard/img/dashboard/dashboardLanding.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
  }
  .cover-wrapper{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .dashhboard-title{
    margin-top: 15%;
    left: 30%;
    position: absolute;
  }
  .dashhboard-title h1{
    color: #ffffff;
  }
  .dashhboard-second-title{
    margin-top: 450px;
    left: 22%;
    position: absolute;
  }
  .dashhboard-second-title h3{
    color: #ffffff;
  }
</style>


