<section id="container" >
  <section id="main-content">
    <section class="wrapper">

      <!-- Introduction Row -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Desastres
            <small>Lista de Desastres</small>
          </h1>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>-->
        </div>
      </div>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Nombre del Desastre</th>
              <th>Fecha</th>
              <th>Localidad</th>
              <th>Descripcion del Evento</th>
              <th>Nivel de Daño</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Inundacion en Caranavi</td>
              <td>12/12/2016</td>
              <td>La Paz - Caranavi</td>
              <td>Inundacion del Rio Cranavi el dia Lunes, 2016</td>
              <td>Medio</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Terremoto en La Paz</td>
              <td>04/01/2017</td>
              <td>La Paz - Murillo</td>
              <td>Terremoto de escala 3.1 Richter</td>
              <td>Baja</td>
            </tr>

            <tr>
              <th scope="row">3</th>

              <td>Lluvia en La Paz</td>
              <td>04/01/2017</td>
              <td>La Paz - Murillo</td>
              <td>LLuvia persistente de 5 horas</td>
              <td>Baja</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Riada en La Paz</td>
              <td>04/01/2017</td>
              <td>La Paz - Murillo</td>
              <td>Subida del nivel del ria Choqueyapu en 1m</td>
              <td>Baja</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Deslizamiento en La Paz</td>
              <td>04/01/2017</td>
              <td>La Paz - Murillo</td>
              <td>Deslizamiento en la carretera a los Yungas</td>
              <td>Baja</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Granizada en La Paz</td>
              <td>04/01/2017</td>
              <td>La Paz - Murillo</td>
              <td>Granizada de 0.5m de altura</td>
              <td>Baja</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Deslizamiento en Cochabamba</td>
              <td>04/01/2017</td>
              <td>Cochabamba - Cercado</td>
              <td>Deslizamiento en la carretera al Chapare</td>
              <td>Baja</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Helada en La Paz</td>
              <td>04/01/2017</td>
              <td>La Paz - Ingavi</td>
              <td>Descenso de temperatura a -3 C</td>
              <td>Baja</td>
            </tr>




            </tbody>
          </table>


        </div>

      </div>


    </section>

  </section>
</section>
