<section id="container" >
  <section id="main-content">
    <section class="wrapper">
      <div>
        <h1>
          Report de Desastres
        </h1>
        <br>
        <div >
          <select
            ng-if="!map1.countryFlag"
            name="selector"
            class="form-control"
            ng-model="vm.regionSelected">
            <option value="2017">2017</option>
          </select>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
          <div class="col-md-4">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Mes</th>
                <th>Nro de desastres</th>
                <th>Impacto (Victimas)</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Enero</td>
                <td>4.5</td>
                <td>450</td>
              </tr>
              <tr>
                <td>Febrero</td>
                <td>3.2</td>
                <td>120</td>
              </tr>
              <tr>
                <td>Marzo</td>
                <td>6.5</td>
                <td>1467</td>
              </tr>
              <tr>
                <td>Abril</td>
                <td>1.4</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Mayo</td>
                <td>0.4</td>
                <td>16</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
<style>
  .button-style {
    width: 110px;
    margin: 0px 30px;
  }
</style>
