<section id="container" >
  <section id="main-content">
    <section class="wrapper">

      <!-- Introduction Row -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Mapas 2
            <small>Green Zones</small>
          </h1>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>-->
        </div>
      </div>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2>Mi Mapa</h2>
          <div class="row">
            <div class="col-md-6">
              <select
                name="selector"
                class="form-control"
                ng-model="map1.regionSelected"
                ng-change="map1.changeCountry(map1.regionSelected)"
                ng-options="option.code as option.name for option in map1.countryList track by option.code">
              </select>
            </div>
            <div class="col-md-6">
              <select
                ng-if="!map1.countryFlag"
                ng-disabled="true"
                name="selector"
                class="form-control"
                ng-model="map1.regionSelected">
              </select>
              <select
                ng-if="map1.countryFlag === 'BO'"
                name="selector"
                class="form-control"
                ng-model="map1.regionSelected"
                ng-options="option.code as option.name for option in map1.regionList track by option.code"
                ng-change="map1.changedSelect(map1.regionSelected)">
              </select>
              <select
                ng-if="map1.countryFlag === 'US'"
                name="selector"
                class="form-control"
                ng-model="map1.regionSelected"
                ng-options="option.code as option.name for option in map1.regionListUs track by option.code"
                ng-change="map1.changedSelect(map1.regionSelected)">
              </select>
            </div>
          </div>
          <!--<div openlayers-map id="map" region="map1.regionSelected" class="map"></div>-->


          <div id="map" class="map"></div>
          <form>
            <label>radius size</label>
            <input id="radius" type="range" min="1" max="50" step="1" value="5"/>
            <label>blur size</label>
            <input id="blur" type="range" min="1" max="50" step="1" value="15"/>
          </form>
          <script>
            var blur = document.getElementById('blur');
            var radius = document.getElementById('radius');

            var vector = new ol.layer.Heatmap({
              source: new ol.source.Vector({
                url: 'https://openlayers.org/en/v4.1.0/examples/data/kml/2012_Earthquakes_Mag5.kml',
                format: new ol.format.KML({
                  extractStyles: false
                })
              }),
              blur: parseInt(blur.value, 10),
              radius: parseInt(radius.value, 10)
            });

            vector.getSource().on('addfeature', function(event) {
              // 2012_Earthquakes_Mag5.kml stores the magnitude of each earthquake in a
              // standards-violating <magnitude> tag in each Placemark.  We extract it from
              // the Placemark's name instead.
              var name = event.feature.get('name');
              var magnitude = parseFloat(name.substr(2));
              event.feature.set('weight', magnitude - 5);
            });

            var raster = new ol.layer.Tile({
              source: new ol.source.Stamen({
                layer: 'toner'
              })
            });

            var map = new ol.Map({
              layers: [raster, vector],
              target: 'map',
              view: new ol.View({
                center: [0, 0],
                zoom: 2
              })
            });


            blur.addEventListener('input', function() {
              vector.setBlur(parseInt(blur.value, 10));
            });

            radius.addEventListener('input', function() {
              vector.setRadius(parseInt(radius.value, 10));
            });
          </script>


        </div>

      </div>


    </section>

  </section>
</section>

<style>
  .map {
    height: 400px;
    width: 100%;
  }
</style>
