<section id="container" >
  <section id="main-content">
    <section class="wrapper">

      <!-- Introduction Row -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Mapas
            <small>Sensores</small>
          </h1>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>-->
        </div>
      </div>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2>Mapa</h2>
          <div class="row">
            <div class="col-md-6">
              <select
                name="selector"
                class="form-control"
                ng-model="map1.regionSelected"
                ng-change="map1.changeCountry(map1.regionSelected)"
                ng-options="option.code as option.name for option in map1.countryList track by option.code">
              </select>
            </div>
            <div class="col-md-6">
              <select
                ng-if="!map1.countryFlag"
                ng-disabled="true"
                name="selector"
                class="form-control"
                ng-model="map1.regionSelected">
              </select>
              <select
                ng-if="map1.countryFlag === 'BO'"
                name="selector"
                class="form-control"
                ng-model="map1.regionSelected"
                ng-options="option.code as option.name for option in map1.regionList track by option.code"
                ng-change="map1.changedSelect(map1.regionSelected)">
              </select>
              <select
                ng-if="map1.countryFlag === 'US'"
                name="selector"
                class="form-control"
                ng-model="map1.regionSelected"
                ng-options="option.code as option.name for option in map1.regionListUs track by option.code"
                ng-change="map1.changedSelect(map1.regionSelected)">
              </select>
            </div>
          </div>
          <!--<div openlayers-map id="map" region="map1.regionSelected" class="map"></div>-->

          <div id="map" class="map"><div id="popup"></div></div>
          <script>

            //-6731350.458905762, -8022830.488812098
            //-16.5558537,-68.6779751
            var randLan  = function(){
              var a = (Math.random() * (16.5558537 - 16.5720000) + 16.5720000).toFixed(7);
              return a*-1;
            };

            var randLon  = function(){
              var a = (Math.random() * (68.6779751 - 68.6920000) + 68.6920000).toFixed(7);
              return a*-1;
            };

            var randLanApres = function(){
              var a = (Math.random() * (16.5450000 - 16.5558537) + 16.5558537).toFixed(7);
              return a*-1;
            };

            var randLonApres = function(){
              var a = (Math.random() * (68.6550000 - 68.6779751) + 68.6779751).toFixed(7);
              return a*-1;
            };

            var vectorSource = new ol.source.Vector();

            var vectorLayer = new ol.layer.Vector({
              source: vectorSource
            });

            var rasterLayer = new ol.layer.Tile({
                source: new ol.source.OSM()
//              source: new ol.source.TileJSON({
//                url: 'https://api.tiles.mapbox.com/v3/mapbox.geography-class.json?secure',
//                crossOrigin: ''
//              })
            });

            var map = new ol.Map({
              layers: [rasterLayer, vectorLayer],
              target: document.getElementById('map'),
              view: new ol.View({
                center: [0, 0],
                zoom: 3
              })
            });

            var iconFeature = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00001\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//
            });

            var iconFeature2 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00002\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500
            });

            var iconFeature3 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00003\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature4 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00004\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature5 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00005\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature6 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00006\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature7 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00007\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature8 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00008\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature9 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLon(), randLan()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX00009\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature10 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000010\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature11 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000011\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature12 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000012\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature13 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000013\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature14 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000014\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature15 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000015\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature16 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000016\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature17 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000017\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature18 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000018\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature19 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000019\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconFeature20 = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([randLonApres(), randLanApres()], 'EPSG:4326', 'EPSG:3857')),
              name: 'Nombre: Sensor AX000020\n' +
              'Area: Test/Area\n' +
              'Lat: Lon: '+randLon()+' ; '+ randLan()+'\n',
              population: 4000,
              rainfall: 500//-6731350.458905762, -8022830.488812098
            });

            var iconStyle = new ol.style.Style({
              image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                anchor: [0.5, 46],
                anchorXUnits: 'fraction',
                anchorYUnits: 'pixels',
//                size: [20,20],
//                scale: 0.3,
                src: 'https://mailingwork.de/fileadmin/templates/default/img/google-maps-icon.png'
              }))
            });

            iconFeature.setStyle(iconStyle);
            iconFeature2.setStyle(iconStyle);
            iconFeature3.setStyle(iconStyle);
            iconFeature4.setStyle(iconStyle);
            iconFeature5.setStyle(iconStyle);
            iconFeature6.setStyle(iconStyle);
            iconFeature7.setStyle(iconStyle);
            iconFeature8.setStyle(iconStyle);
            iconFeature9.setStyle(iconStyle);
            iconFeature10.setStyle(iconStyle);
            iconFeature11.setStyle(iconStyle);
            iconFeature12.setStyle(iconStyle);
            iconFeature13.setStyle(iconStyle);
            iconFeature14.setStyle(iconStyle);
            iconFeature15.setStyle(iconStyle);
            iconFeature16.setStyle(iconStyle);
            iconFeature17.setStyle(iconStyle);
            iconFeature18.setStyle(iconStyle);
            iconFeature19.setStyle(iconStyle);
            iconFeature20.setStyle(iconStyle);

            vectorSource.addFeature(iconFeature);
            vectorSource.addFeature(iconFeature2);
            vectorSource.addFeature(iconFeature3);
            vectorSource.addFeature(iconFeature4);
            vectorSource.addFeature(iconFeature5);
            vectorSource.addFeature(iconFeature6);
            vectorSource.addFeature(iconFeature7);
            vectorSource.addFeature(iconFeature8);
            vectorSource.addFeature(iconFeature9);
            vectorSource.addFeature(iconFeature10);
            vectorSource.addFeature(iconFeature11);
            vectorSource.addFeature(iconFeature12);
            vectorSource.addFeature(iconFeature13);
            vectorSource.addFeature(iconFeature14);
            vectorSource.addFeature(iconFeature15);
            vectorSource.addFeature(iconFeature16);
            vectorSource.addFeature(iconFeature17);
            vectorSource.addFeature(iconFeature18);
            vectorSource.addFeature(iconFeature19);
            vectorSource.addFeature(iconFeature20);

            var element = document.getElementById('popup');

            var popup = new ol.Overlay({
              element: element,
              positioning: 'bottom-center',
              stopEvent: false,
              offset: [0, -50]
            });
            map.addOverlay(popup);

            // display popup on click
            map.on('click', function(evt) {
              var feature = map.forEachFeatureAtPixel(evt.pixel,
                function(feature) {
                  return feature;
                });
              if (feature) {
                var coordinates = feature.getGeometry().getCoordinates();
                popup.setPosition(coordinates);
                $(element).popover({
                  'placement': 'top',
                  'html': true,
                  'content': feature.get('name')
                });
                $(element).popover('show');
              } else {
                $(element).popover('destroy');
              }
            });

            // change mouse cursor when over marker
            map.on('pointermove', function(e) {
              if (e.dragging) {
                $(element).popover('destroy');
                return;
              }
              var pixel = map.getEventPixel(e.originalEvent);
              var hit = map.hasFeatureAtPixel(pixel);
              map.getTarget().style.cursor = hit ? 'pointer' : '';
            });
          </script>


        </div>

      </div>


    </section>

  </section>
</section>

<style>
  .map {
    height: 400px;
    width: 100%;
  }
</style>
